
<div class="container p-1">
    <div class="row row-cols-1 row-cols-md-5">
        {{#each carrito}}
        <div class="ocultar id_carrito" id="i{{id_pelicula}}"></div>
        <script type="text/javascript">
            mostrarPedidosCant();           
        </script>
        {{/each}}
        
        {{#each pelis}}
        <div id="{{id_pelicula}}"  class="vistaPeli">
            <div class="card-body text-success contenedor">
                <a href="javascript:select('{{id_pelicula}}', true)">
                    <img id={{id_pelicula}} src="img/portadas/{{imagen}}"  class="card-img-top p"
                        alt="" class="rounded-lg">

                    <div class="anio rounded">{{anio}} </div>
                    <div id="{{id_pelicula}}{{peso}}" class="peso rounded"></div>
                    <div class="pts rounded">{{pts}} pts</div>
                    <script type="text/javascript">
                        contador();
                        ponerPeso('{{id_pelicula}}', {{ peso }})
                    </script>

                </a>
            </div>
            <div class="centro">
                <a href="javascript:abrir_sinopsis(' {{nombre}}',  '{{descripcion}}', '{{trailer}}')"
                    class="" align="center"> {{nombre}} </a>
            </div>

        </div>

        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">
                <p>No hay peliculas.</p>
            </div>
        </div>
        {{/each}}
    </div>

    {{#if src}} {{#if pelis}}
    <div class=" foot-lnk container mt-3">
        <div class="row-cols-sm-3">
            <div class=" mb-3">
                <a href="javascript:decargarQR(' {{src}}', '{{user.nombre}}')">
                    <img class="qrtam border-top" src={{src}} alt="QR code">
                </a>
                <div class="card-body">
                    <h4 class="card-title text-center">Usa el codigo para realizar el pedido</h4>
                    <p class="card-text text-center">Click al código QR para descargar</p>
                </div>
            </div>
        </div>
    </div>
    {{/if}} {{/if}}
