<div class="container p-1">
    <div class="row row-cols-1 row-cols-md-3">
        
        {{#each pelis}}
        <div style="width: 15rem;  ">
            <div class="card-body text-success contenedor">


                <a href="javascript:select('{{id_pelicula}}')">
                    <img id={{id_pelicula}} src="img/portadas/{{imagen}}" width="00" height="300" class="card-img-top p"
                        alt="" class="rounded-lg">
                       
                    <div class="anio rounded">{{anio}}</div>
                    <div class="pts rounded">1pts</div>
                </a>
            </div>
            <div class="centro">

                <a href="javascript:abrir_sinopsis(' {{nombre}}',  '{{descripcion}}', '{{trailer}}')" class="imper"
                    align="center"> {{nombre}} </a>


            </div>

        </div>
        {{else}}
        <div class="col-md-4 mx-auto">
            <div class="card card-body text-center">


                <p>No hay peliculas disponibles.</p>

            </div>
        </div>
        {{/each}}
    </div>

   



{{>mesage}}
{{>infomacion}}
{{>trailer}}
{{>buscar}}