<div class="card">
    <img class="card-img-top"
        src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
        alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Informacion</h5>
        <div></div>
        <h3>Nombre: {{user.nombre}}</h3> 
        <h3>Telefono: {{user.telefono}}</h3>
        <h3>Usuario: {{user.usuario}}</h3>
        <h3>Contraseña: **************</h3>
    </div>
    <ul class="list-group list-group-flush">
        <a href="/edit_nombre" class="list-group-item list-group-item-action disabled">Editar Nombre</a>
       
        <a href="/edit_usuario" class="list-group-item list-group-item-action disabled">Editar Usuario</a>
        {{#if user.telefono}}
        <a href="/edit_telefono" class="list-group-item list-group-item-action disabled">Cambiar Teléfono</a>
        {{else}}
         <a href="/edit_telefono" class="list-group-item list-group-item-action disabled">Agregar Teléfono</a>
        {{/if}}
        <a href="/edit_usuario" class="list-group-item list-group-item-action disabled">Cambiar Contraseña</a>
        
    </ul>
    <div class="card-body">
        <a href="#" class="card-link">Puntos: </a>
        <span class="badge badge-primary badge-pill">{{user.pts}}</span>        
    </div>
    <div class="card-body">
         <h5 class="card-title">Haz que un amigo se registre, comparte  este codigo y gana 50 puntos mas en su primera compra</h5>
        <a href="javascript:copiar()" id="codigo" class="card-link">{{user.id_usuario}} </a>
        <i class="bi bi-clipboard-check"></i>
         <a href="/historial" class="list-group-item list-group-item-action disabled">Ver historial</a>
       
               
    </div>

</div>


